﻿@using Framework.Privilege
@model Framework.Models.Role.RoleInfo
@{ Layout = null; }

<div class="row">
    <div class="col-sm-20 col-sm-offset-2">
        @using (Html.BeginForm("Save", "Role", new { param = "" }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.RequireLabelFor(m => m.RoleCode, new { @class = "control-label" })
                @Html.PlaceholderTextBoxFor(m => m.RoleCode, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(m => m.RoleCode)
            </div>

            <div class="form-group mt30">
                @Html.RequireLabelFor(m => m.Name, new { @class = "control-label" })
                @Html.PlaceholderTextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.RequireLabelFor(m => m.Description, new { @class = "control-label" })
                @Html.PlaceholderTextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="form-group">
                @Html.RequireLabelFor(m => m.PrivilegeList, new { @class = "control-label require" })
                <div class="alert alert-default mb0">
                    @{
                        var privilegeList = EnumExtension.GetEnumList<PrivilegeCode>()
                            .Select(code =>
                            {
                                var group = code.ToString().Replace("URL_", null);
                                group = group.Substring(0, group.LastIndexOf("_"));
                                return new RazorExtension.InputSelectItem
                                {
                                    Text = code.ToMessage(),
                                    Value = code,
                                    IsChecked = Model.PrivilegeList.Contains(code),
                                    HtmlAttributes = new Dictionary<string, object>
                                    {
                                        { "data-title", code },
                                        { "data-group", group }
                                    }
                                };
                            })
                            .OrderBy(code => code.Value);

                        @Html.CheckBoxListFor(m => m.PrivilegeList, privilegeList, new { @class = "checkbox-inline checkbox-primary" })
                    }
                </div>
                @Html.CollectionLengthValidationMessageFor(m => m.PrivilegeList)
            </div>

            <div class="form-group mt30">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="checkbox checkbox-primary">
                            @Html.CheckBoxFor(m => m.IsEnabled)
                            <span>启用角色</span>
                        </label>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block">确定</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
