﻿@model Framework.Models.Role.SearchCondition

@section footerSection {
    @Html.HashVersionPathFor("/Areas/System/Content/Scripts/Role/list.js")
}

<div class="panel panel-white">
    <div class="panel-body">
        @using (Html.BeginForm("List", "Role", FormMethod.Post, new { @class = "form-horizontal pt10 datagrid-search" }))
        {
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.PlaceholderTextBoxFor(m => m.Name, new { @class = "form-control" }, format: "搜索{0}")
                </div>

                <div class="col-sm-18 datalist-action">
                    <button class="btn btn-primary">
                        <i class="fa fa-search"></i>
                        查询
                    </button>
                </div>
            </div>
        }

        <div id="datalist"></div>
    </div>
</div>
