﻿@using Framework.Privilege
@{
    var userInfo = AuthenticationUtility.AuthorizedUserInfo;
    var privilegeList = AuthenticationUtility.AuthorizedUserPrivilegeList;

    // 处理菜单列表
    var menuList = AuthenticationUtility.GetAuthorizedUserMenuList();
    var currentMenus = MenuUtility.GetCurrentMenuList(menuList);
    var currentMenu = currentMenus.LastOrDefault();


    var testMenuList = menuList.ToList();
    testMenuList.Insert(0, new Project.Template.Web.Models.Shared.MenuInfo
    {
        MenuId = 0,
        Name = "1级菜单",
        Icon = "fa fa-cubes",
        Sorted = 100,
        IsVisible = true,
        SubMenuList = new Project.Template.Web.Models.Shared.MenuInfo[]
        {
            new Project.Template.Web.Models.Shared.MenuInfo
            {
                MenuId = 0,
                Privilege = PrivilegeCode.URL_SYSTEM_MENU_INDEX,
                Name = "2级菜单",
                Sorted = 0,
                IsVisible = true,
                SubMenuList = new Project.Template.Web.Models.Shared.MenuInfo[]
                {
                    new Project.Template.Web.Models.Shared.MenuInfo
                    {
                        MenuId = 0,
                        Privilege = PrivilegeCode.URL_SYSTEM_MENU_INDEX,
                        Name = "3级菜单",
                        Sorted = 0,
                        IsVisible = true
                    },
                    new Project.Template.Web.Models.Shared.MenuInfo
                    {
                        MenuId = 0,
                        Privilege = PrivilegeCode.URL_SYSTEM_MENU_INDEX,
                        Name = "3级菜单",
                        Sorted = 1,
                        IsVisible = true
                    }
                }
            },
            new Project.Template.Web.Models.Shared.MenuInfo
            {
                MenuId = 0,
                Privilege = PrivilegeCode.URL_SYSTEM_MENU_INDEX,
                Name = "2级菜单",
                Sorted = 1,
                IsVisible = true
            }
        }
    });
    menuList = testMenuList;


    // 标题
    var title = ViewBag.Title;
    if (title == null)
    {
        if (currentMenu == null)
        {
            title = string.Format("{0} - {1}", CommonSetting.PROJECT_WEB_NAME, CommonSetting.PROJECT_SLOGAN);
        }
        else
        {
            title = string.Format("{0} | {1} - {2}", currentMenu.Name, CommonSetting.PROJECT_WEB_NAME, CommonSetting.PROJECT_SLOGAN);
        }
    }
    var subTitle = ViewBag.SubTitle;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Favicons/manifest.json">
    <link rel="mask-icon" href="~/Favicons/safari-pinned-tab.svg" color="#1f212f">
    <meta name="theme-color" content="#1f212f">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8;" />
    <meta http-equiv="cache-control" content="max-age=864000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta itemprop="name" content="@ViewBag.Title" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="~/Favicons/favicon-96x96.png" />
    <title>@title</title>

    @Html.HashVersionPathFor("/Content/Plugins/bootstrap/css/bootstrap.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/font-awesome/css/font-awesome.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/perfect-scrollbar/src/perfect-scrollbar.css")
    @Html.HashVersionPathFor("/Content/Plugins/animate/animate.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/select2/css/select2.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap-modal/css/bootstrap-modal.css")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap-daterangepicker/daterangepicker.css")
    @Html.HashVersionPathFor("/Content/Plugins/toastr/toastr.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/font.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/styles.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/styles-responsive.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/plugins.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/themes/theme-style9.css")
    @Html.HashVersionPathFor(string.Format("/Content/Styles/{0}.admin.css", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Styles/{0}.admin.extension.css", CommonSetting.SOLUTION_CODE.ToLower()))

    @RenderSection("headerSection", false)
</head>

<body class="text-shadow">
    <div id="loadingLayer"></div>

    <div class="main-wrapper">
        <nav id="pageslide-left" class="pageslide inner">
            <div class="navbar-content">
                <div class="main-navigation left-wrapper transition-left">
                    <div class="user-profile border-top block">
                        <div class="inline-block">
                            <img src="@userInfo.HeadImageUrl" alt="img" class="headimg" />
                        </div>
                        <div class="inline-block">
                            <h4 class="name">@userInfo.Name</h4>
                        </div>
                        @if (privilegeList.Contains(PrivilegeCode.URL_SYSTEM_USER_INFO))
                        {
                            <a href="@WebsiteUtility.PrivilegeUrlConfigs[PrivilegeCode.URL_SYSTEM_USER_INFO]" class="btn user-options sb_toggle" title="个人信息">
                                <span class="fa fa-cog"></span>
                            </a>
                        }
                    </div>

                    <ul class="main-navigation-menu">
                        <li>
                            <a href="/test/admin">
                                <i class="fa fa-clone"></i>
                                <span class="title">后台模板</span>
                            </a>
                        </li>
                        <li>
                            <a href="/test/mobile">
                                <i class="fa fa-mobile"></i>
                                <span class="title">移动端模板</span>
                            </a>
                        </li>
                        <li>
                            <a href="/test/chatroom">
                                <i class="fa fa-joomla"></i>
                                <span class="title">SignalR测试</span>
                            </a>
                        </li>
                        <li>
                            <a href="/test/file">
                                <i class="fa fa-cloud-upload"></i>
                                <span class="title">上传文件测试</span>
                            </a>
                        </li>
                        <li>
                            <a href="/test/chart">
                                <i class="fa fa-bar-chart"></i>
                                <span class="title">图表测试</span>
                            </a>
                        </li>
                        <li>
                            <a href="/test/shorturl">
                                <i class="fa fa-link"></i>
                                <span class="title">短网址测试</span>
                            </a>
                        </li>
                        <li>
                            <a href="/test/color">
                                <i class="fa fa-eyedropper"></i>
                                <span class="title">颜色模板</span>
                            </a>
                        </li>
                        <li>
                            <a href="/wechat/oauth?path=/test/weuserinfo&transfer=SUGAR&scope=0">
                                <i class="fa fa-wechat"></i>
                                <span class="title">微信用户测试</span>
                            </a>
                        </li>
                        @Html.MenuListFor(menuList, currentMenus)
                    </ul>
                </div>
            </div>

            <div class="slide-tools">
                <div class="col-xs-24 text-left no-padding">
                    <a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="btn btn-sm">
                        @CommonSetting.COMPANY_YEARS &copy; @CommonSetting.COMPANY_NAME_CN.
                    </a>
                </div>
            </div>
        </nav>

        <div class="main-container inner">
            <div class="main-content">
                <div class="container">
                    <div class="toolbar row">
                        <div class="col-sm-8 hidden-xs">
                            <div class="page-header">
                                <h1>
                                    @(currentMenu == null ? "未命名菜单" : currentMenu.Name)
                                    <small>@subTitle</small>
                                </h1>
                            </div>
                        </div>

                        <div class="col-sm-16">
                            <a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="leftbar-toggle sb-toggle-left hidden-md hidden-lg">
                                <span class="fa fa-bars"></span>
                            </a>
                            <div class="toolbar-tools pull-right">
                                <ul class="nav navbar-right">
                                    <li class="dropdown">
                                        <a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="dropdown-toggle " data-toggle="dropdown" data-close-others="true">
                                            <span class="badge">1</span>
                                            <span class="fa fa-envelope"></span>
                                            系统消息
                                        </a>
                                        <ul class="dropdown-menu dropdown-light dropdown-messages">
                                            <li>
                                                <div class="drop-down-wrapper ps-container">
                                                    <ul>
                                                        <li>
                                                            <a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="unread">
                                                                <div class="clearfix">
                                                                    <span style="white-space:nowrap;" class="author text-ellipsis">未读标题未读标题未读标题未读标题未读标题未读标题</span>
                                                                    <span style="white-space:nowrap;" class="preview text-ellipsis">未读简介未读简介未读简介未读简介未读简介未读简介</span>
                                                                    <span class="time">2000-01-01 00:00:00</span>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@CommonSetting.VALUE_HTML_VOIDLINK">
                                                                <div class="clearfix">
                                                                    <span style="white-space:nowrap;" class="author text-ellipsis">已读标题已读标题已读标题已读标题已读标题已读标题</span>
                                                                    <span style="white-space:nowrap;" class="preview text-ellipsis">已读简介已读简介已读简介已读简介已读简介已读简介</span>
                                                                    <span class="time">2000-01-01 00:00:00</span>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="view-all">
                                                <a href="@CommonSetting.VALUE_HTML_VOIDLINK">暂无消息</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/auth/logout">
                                            <span class="fa fa-power-off"></span>
                                            退出系统
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="body-container">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
        @Html.HashVersionPathFor("/Content/Plugins/respond/respond.min.js")
        @Html.HashVersionPathFor("/Content/Plugins/excanvas/excanvas.min.js")
    <![endif]-->
    @Html.HashVersionPathFor("/Content/Plugins/jquery/jquery-2.1.4.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/knockout/knockout-3.4.0.js")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap/js/bootstrap.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-transit/jquery.transit.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-validate/jquery.validate.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-validate/jquery.validate.unobtrusive.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-scrollto/jquery.scrollTo.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/perfect-scrollbar/src/jquery.mousewheel.js")
    @Html.HashVersionPathFor("/Content/Plugins/perfect-scrollbar/src/perfect-scrollbar.js")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap-modal/js/bootstrap-modal.js")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap-modal/js/bootstrap-modalmanager.js")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap-daterangepicker/moment.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap-daterangepicker/daterangepicker.js")
    @Html.HashVersionPathFor("/Content/Plugins/velocity/jquery.velocity.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/select2/js/select2.full.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/select2/js/i18n/zh-CN.js")
    @Html.HashVersionPathFor("/Content/Plugins/toastr/toastr.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/touchswipe/jquery.touchSwipe.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/js/main.js")
    @Html.HashVersionPathFor("/Content/Plugins/cryptojs/crypto-js.js")
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.jquery.validate.unobtrusive.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.enum.mapping.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.form.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.admin.js", CommonSetting.SOLUTION_CODE.ToLower()))

    <script type="text/javascript">
        var Environment = '@CoreConfig.SystemEnvironment';
        @Html.ListToJson(privilegeList.Select(p => p.ToString()), "PRIVILEGELIST")
    </script>
    @RenderSection("footerSection", false)
</body>
</html>