﻿@using Senparc.Weixin.MP.Helpers
@using Senparc.Weixin.MP.Containers
@using APP.Core.Utilities
@{
    // 标题
    var title = ViewBag.Title ?? string.Format("{0} - {1}", CommonSetting.PROJECT_WEB_NAME, CommonSetting.PROJECT_SLOGAN);

    string timestamp = string.Empty, nonce = string.Empty, signature = string.Empty;
    if (ViewBag.UseWechatJS == true)
    {
        timestamp = JSSDKHelper.GetTimestamp();
        nonce = JSSDKHelper.GetNoncestr();
        signature = JSSDKHelper.GetSignature(JsApiTicketContainer.TryGetJsApiTicket(WechatSetting.AppId, WechatSetting.AppSecret), nonce, timestamp, Request.Url.AbsoluteUri);
    }
}

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Favicons/manifest.json">
    <link rel="mask-icon" href="~/Favicons/safari-pinned-tab.svg" color="#1f212f">
    <meta name="theme-color" content="#1f212f">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8;" />
    <meta http-equiv="cache-control" content="max-age=864000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="~/Favicons/favicon-96x96.png" />
    <title>@title</title>

    @Html.HashVersionPathFor("/Content/Plugins/weui/weui.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-weui/jquery-weui.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/font-awesome/css/font-awesome.min.css")
    @Html.HashVersionPathFor(string.Format("/Content/Styles/{0}.mobile.css", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Styles/{0}.mobile.extension.css", CommonSetting.SOLUTION_CODE.ToLower()))

    @RenderSection("headerSection", false)
</head>

<body>
    @RenderBody()

    <!--[if lt IE 9]>
        @Html.HashVersionPathFor("/Content/Plugins/respond/respond.min.js")
        @Html.HashVersionPathFor("/Content/Plugins/excanvas/excanvas.min.js")
    <![endif]-->
    @Html.HashVersionPathFor("/Content/Plugins/jquery/jquery-2.1.4.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-transit/jquery.transit.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-validate/jquery.validate.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-validate/jquery.validate.unobtrusive.min.js")
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js?v=@(DateTime.Today.ToString("yyyyMMdd"))"></script>
    @Html.HashVersionPathFor("/Content/Plugins/jquery-weui/jquery-weui.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/cryptojs/crypto-js.js")
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.jquery.validate.unobtrusive.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.enum.mapping.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.form.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.mobile.js", CommonSetting.SOLUTION_CODE.ToLower()))

    <script type="text/javascript">
        var Environment = '@CoreConfig.SystemEnvironment';
        var WechatParameters = '@SecurityUtility.BASE64Encrypt(string.Format("{0}|{1}|{2}|{3}", WechatSetting.AppId, timestamp, nonce, signature))';
    </script>
    @RenderSection("footerSection", false)
</body>
</html>