﻿@using APP.Core.Caches
@{
    var keywords = new string[]
    {
        "NHibernate",

        "Attribute_", "APPSYSTEM.RETURNCACHE", "APPSYSTEM.ENUMMESSAGE", "APPSYSTEM.EXCEPTIONMESSAGE", "APPSYSTEM.TYPESCALARS", "APPSYSTEM.HASHFILEVERSION",
    }.Concat(typeof(CommonSetting).GetFields().Where(f => f.Name.StartsWith("CACHEKEY_")).Select(f => f.GetValue(null).ToString().Split('.')[0]));
}

@section footerSection {
    <script type="text/javascript">
        $(function () {
            $('#keysContainer a[data-key]').on({
                click: function () {
                    $.appAjax({
                        url: '/system/cache/clear',
                        data: { engine: $(this).data('engine'), key: $(this).data('key') },
                        onSuccess: function (responseData) {
                            handleAjaxResult(responseData, function () {
                                location.reload();
                            });
                        }
                    });
                }
            });
        });
    </script>
}

<div class="panel panel-white">
    <div class="panel-body">
        <div id="keysContainer" class="row">
            <div class="col-sm-10 col-sm-offset-1" style="font-weight: normal;">
                <h4>
                    HTTPCaches
                    <a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="text-sm" data-engine="@CacheEngine.HTTPCache" data-key="">清除全部</a>
                </h4>
                <hr />
                @{
                    var httpCaches = ViewBag.HTTPCaches as IEnumerable<string>;
                    foreach (var keyword in keywords)
                    {
                        var keys = httpCaches.Where(key => key.StartsWith(keyword));
                        httpCaches = httpCaches.Where(key => !key.StartsWith(keyword));
                        if (keys.Any())
                        {
                            <div><a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="mr5" data-engine="@CacheEngine.HTTPCache" data-key="@keyword">清</a>@keyword：@keys.Count()</div>
                        }
                    }

                    foreach (var key in httpCaches)
                    {
                        <div>@key</div>
                    }
                }
            </div>

            <div class="col-sm-10 col-sm-offset-2">
                <h4>
                    MemoryCaches
                    <a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="text-sm" data-engine="@CacheEngine.MemoryCache" data-key="">清除全部</a>
                </h4>
                <hr />
                @{
                    var memoryCaches = ViewBag.MemoryCaches as IEnumerable<string>;
                    foreach (var keyword in keywords)
                    {
                        var keys = memoryCaches.Where(key => key.StartsWith(keyword));
                        memoryCaches = memoryCaches.Where(key => !key.StartsWith(keyword));
                        if (keys.Any())
                        {
                            <div><a href="@CommonSetting.VALUE_HTML_VOIDLINK" class="mr5" data-engine="@CacheEngine.MemoryCache" data-key="@keyword">清</a>@keyword：@keys.Count()</div>
                        }
                    }

                    foreach (var key in memoryCaches)
                    {
                        <div>@key</div>
                    }
                }
            </div>
        </div>
    </div>
</div>
