﻿@section footerSection {
    @Html.HashVersionPathFor("/Content/Plugins/highcharts/highcharts.js")
    @Html.HashVersionPathFor("/Content/Plugins/highcharts/modules/exporting.js")
    @Html.HashVersionPathFor("/Content/Plugins/highcharts/modules/offline-exporting.js")
    @Html.HashVersionPathFor("/Content/Plugins/highcharts/modules/no-data-to-display.js")

    <script type="text/javascript">
        $(function () {
            var interval, timer;
            var change = function (type) {
                $('#container').appChart({
                    url: '/test/chartinfo' + (type ? ('?type=' + type) : ''),
                    onAfterClick: function (selectedList, renderData, chart) {
                        console.log('selectedList', selectedList);
                        console.log('renderData', renderData);
                    }
                });
            };
            change();

            var $btnRandom = $('#btnRandom').on({
                click: function () {
                    clearInterval(timer);
                    clearInterval(interval);
                    $btnInterval.html('启动定时随机更换（3s）');
                    $btnInterval.data('executing', false);

                    change();
                }
            });

            var $btnInterval = $('#btnInterval').on({
                click: function () {
                    if ($btnInterval.data('executing') === false) {
                        $btnInterval.html('关闭定时随机更换（3s）');
                        $btnInterval.data('executing', true);
                        $btnRandom.hide();
                        var times = 3;
                        timer = setInterval(function () {
                            $btnInterval.html('关闭定时随机更换（' + --times + 's）');
                            times === 0 && (times = 3);
                        }, 1000);
                        interval = setInterval(change, 3000);
                    } else {
                        clearInterval(timer);
                        clearInterval(interval);
                        $btnInterval.html('启动定时随机更换（3s）');
                        $btnInterval.data('executing', false);
                        $btnRandom.show();
                    }
                }
            });
        });
    </script>
}

<div class="panel panel-white">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-24">
                <div id="container"></div>
            </div>
            <div class="col-xs-24">
                <button id="btnInterval" type="button" class="btn btn-default" data-executing="false">启动定时随机更换（3s）</button>
                <button id="btnRandom" type="button" class="btn btn-default">随机更换</button>
            </div>
        </div>
    </div>
</div>
