﻿@section footerSection {
    @Html.HashVersionPathFor("/Content/Plugins/jquery-signalR/jquery.signalR-2.2.2.min.js")
    <script src="@Url.Content("/signalr/hubs")"></script>

    <script type="text/javascript">
        $(function () {
            // 设置用户分组
            cookie.set('AUTH.GROUP', parseInt(Math.random() * 10 % 3));
            console.log(cookie.get('AUTH.GROUP'));

            // 设置SignalR连接、回调
            var testHub = $.connection.testHub;
            testHub.client.talk = function (content) {
                $('#messsagebox').append('<li>' + content + '</li>');
            };
            testHub.client.sayHi = function (content) {
                alert(content);
            };
            $.connection.hub.start();

            // 页面聊天功能
            $('form').on({
                submit: function () {
                    testHub.server.send($('#username').html(), $('#message').val(), $('#isall').is(':checked'));
                    $('#message').val('').focus();
                    return false;
                }
            });
            $('#message').focus();
        });
    </script>
}

<form>
    <div>名称: <span id="username">@Guid.NewGuid().ToString()</span></div>
    <ul id="messsagebox">
        <li>聊天内容：</li>
    </ul>
    <input type="text" id="message" value="" placeholder="请输入消息" style="width: 400px; padding: 3px 5px;" />
    <label>
        <input type="checkbox" id="isall" checked="checked" />
        所有人
    </label>
    <button type="submit">发送</button>
</form>