﻿<div class="panel panel-white">
    <div class="panel-body">
        @for (var i = 0; i < 16; ++i)
        {
            for (var j = 0; j < 16; ++j)
            {
                <div class="row">
                    @for (var k = 0; k < 16; ++k)
                    {
                        var r = (i < 10 ? i.ToString() : ((char)(i + 87)).ToString());
                        var g = (j < 10 ? j.ToString() : ((char)(j + 87)).ToString());
                        var b = (k < 10 ? k.ToString() : ((char)(k + 87)).ToString());
                        var color = r + r + g + g + b + b;

                        <div class="col-sm-1 pt5 pb5">
                            <div style="background-color: #@color;" class="h20"></div>
                            <div class="text-center text-xs">#@color</div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
