﻿@section footerSection {
    @Html.HashVersionPathFor("/Content/Plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-fileupload/js/jquery.iframe-transport.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-fileupload/js/jquery.fileupload.js")

    <script type="text/javascript">
        $('#fileUpload').appUploadFile({
            url: '/upload/all',
            onBeforeSubmit: function (fileInfo, formData) {
                formData.param1 = 'Value1';
                formData.param2 = 'Value2';
            },
            onSuccess: function (responseData) {
                console.log(responseData);
            },
            onError: function (responseData) {
                console.log(responseData);
            }
        });
    </script>
}

<div class="btn btn-success fileinput-area">
    <input id="fileUpload" type="file" />
    <span class="fa fa-plus"></span>
    选择文件
</div>

<div id="files"></div>
