﻿@{ Layout = null; }

<form id="formPartial">
    @if (ViewBag.IsLong)
    {
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
        <h1>This Is A Long Partial View.</h1>
    }
    else
    {
        <h1>This Is A Short Partial View.</h1>
    }

    <button id="btn" type="button" class="btn btn-default btn-block" style="margin-top: 10px;">关闭</button>

    <script type="text/javascript">
        var PartialCallback;
        var partial = {
            init: function (callback) {
                PartialCallback = callback;
            }
        };

        $('#formPartial #btn').on({
            click: function () {
                PartialCallback && PartialCallback();
                $.closeModal && $.closeModal();
            }
        })
    </script>
</form>
