﻿@section footerSection {
    @Html.HashVersionPathFor("/Content/Plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-fileupload/js/jquery.iframe-transport.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-fileupload/js/jquery.fileupload.js")

    <script type="text/javascript">
        $(function () {
            // 页面聊天功能
            $('form').on({
                submit: function () {
                    $.get('/test/generateshorturl?url=' + $('#url').val(), function (response) {
                        var responseData = JSON.parse(response);
                        var container = $('#container').empty();
                        $.each(responseData.data, function (k, v) {
                            container.append('<div>' + k + ': ' + v + '</div>');
                        });

                        $('#url').focus();
                    });

                    return false;
                }
            });
            $('#url').focus();
        });
    </script>
}

<form>
    <input type="text" id="url" value="" placeholder="请输入原网址" style="width: 400px; padding: 3px 5px;" />
    <button type="submit">生成</button>
    <div id="container" style="margin-top: 10px;"></div>
</form>
