﻿@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div class="weui-cells__title">参数</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>transfer</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.Transfer</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>scope</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.Scope</div>
    </div>
</div>

<div class="weui-cells__title">用户信息</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>openid</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.User.openid</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>unionid</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.User.unionid</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>nickname</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.User.nickname</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>headimgurl</p>
        </div>
        <div class="weui-cell__ft">
            <img src="@ViewBag.User.headimgurl" style="width: 100px; height: 100px;" />
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>sex</p>
        </div>
        <div class="weui-cell__ft">@(ViewBag.User.sex == 1 ? "男" : (ViewBag.User.sex == 2 ? "女" : "未知"))</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>city</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.User.city</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>province</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.User.province</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>country</p>
        </div>
        <div class="weui-cell__ft">@ViewBag.User.country</div>
    </div>
</div>

<div class="weui-cells__title">返回</div>
<div class="weui-cells">
    <a href="/" class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">首页</div>
        <div class="weui-cell__ft"></div>
    </a>
</div>
