﻿@{
    Layout = null;

    var userInfo = ViewBag.UserInfo as Framework.Models.User.EditUserInfo;
}

<style type="text/css">
    a {
        margin-left: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .form-label {
        margin-bottom: 2px;
    }

    .form-control {
        width: 100%;
        line-height: 1.25;
        padding: 5px 13px;
    }

    .row:after {
        content: '';
        display: table;
        clear: both;
    }
</style>

<div style="width: 40%; margin-top: 20px; margin-bottom: 20px; margin-left: 5%; float: left;">
    <div>
        <div class="form-label">post url</div>
        <input type="text" class="form-control" name="url" />
    </div>
    <div style="margin-top: 5px;">
        <div class="form-label">app id</div>
        <input type="text" class="form-control" name="appid" value="@userInfo.AppId" />
    </div>
    <div style="margin-top: 5px;">
        <div class="form-label">app secret</div>
        <input type="text" class="form-control" name="appsecret" value="@userInfo.AppSecret" />
    </div>
    <div style="margin-top: 5px;">
        <div class="form-label">auth id</div>
        <input type="text" class="form-control" name="authid" />
    </div>
    <div style="width: 25%; margin-top: 5px;">
        <div class="form-label">level</div>
        <select class="form-control" name="level">
            <option value="None">None</option>
            <option value="Sign">Sign</option>
            <option value="Token" selected="selected">Token</option>
            <option value="Auth">Auth</option>
        </select>
    </div>

    <div id="GET" style="margin: auto; margin-top: 20px;">
        <div class="form-label">
            get parameters
            <a href="javascript:addParam('GET')">+</a>
        </div>

        <div class="row">
            <input type="text" class="form-control" name="param_name" style="width: 45%; float: left;" />
            <span style="width: 10%; text-align: center; float: left;">=</span>
            <input type="text" class="form-control" name="param_value" data-crypto="" style="width: 45%; float: left;" onchange="encrypt(this)" />
        </div>
    </div>

    <div id="POST" style="margin: auto; margin-top: 20px;">
        <div class="form-label">
            post parameters
            <a href="javascript:addParam('POST')">+</a>
        </div>

        <div class="row">
            <input type="text" class="form-control" name="param_name" style="width: 45%; float: left;" />
            <span style="width: 10%; text-align: center; float: left;">=</span>
            <input type="text" class="form-control" name="param_value" data-crypto="" style="width: 45%; float: left;" onchange="encrypt(this)" />
        </div>
    </div>

    <div style="margin: auto; margin-top: 20px;">
        <button id="btnGenerate" type="submit" style="width: 100%; line-height: 1.25; padding: 5px 13px; text-align: center;" onclick="generate()">提交</button>
    </div>

    <div id="INFO" style="width: 800px; margin: auto; margin-top: 20px;"></div>
</div>

<div style="width: 45%; margin-top: 20px; margin-bottom: 20px; margin-left: 5%; float: left;">
    <div>请求步骤：</div>
    <ol style="line-height: 26px;">
        <li><strong>None 级别无需对参数进行处理，直接请求，以下均对非 None 级别进行说明</strong></li>
        <li><strong>GET 参数值无需进行加密</strong></li>
        <li>
            <strong>POST 参数值进行加密（JS 端建议使用 crypto-js）</strong>
            <ol>
                <li><strong>Key</strong>: @Framework.Utilities.APIUtility.SignedKey</li>
                <li><strong>KeyHEX</strong>: Key 进行 16进制 & UTF8 加密（小写）</li>
                <li><strong>ValueHEX</strong>: 原参数值进行 16进制 & UTF8 加密（小写）</li>
                <li><strong>ValueXOR</strong>: ValueHEX 与 KeyHEX 进行补位异或加密</li>
                <li><strong>ValueCrypto</strong>: ValueXOR 进行 Base64 & UTF8 加密</li>
            </ol>
        </li>
        <li>
            <strong>生成签名（sign）</strong>
            <ol>
                <li><strong>Sorted</strong>: 所有请求参数（GET & POST，保留参数 sign、appid、token、authid 等除外），参数名（全小写）按 ASCII 顺序排序</li>
                <li><strong>QuerryString</strong>: Sorted 按 key1=value1&key2=value2... 形式拼接</li>
                <li><strong>Sign</strong>: QuerryString 进行 2 次 MD5 & UTF8 加密（2 次均为大写）</li>
            </ol>
        </li>
        <li>
            <strong>Token 级别，生成令牌（token）</strong>
            <ol>
                <li><strong>Sorted</strong>: 将 AppId、AppSecret、Sign，按 ASCII 顺序排序后，拼接成一个字符串</li>
                <li><strong>Token</strong>: Sorted 进行 SHA1 & UTF8 加密（小写）</li>
            </ol>
        </li>
        <li><strong>按需将 sign、appid、token、authid 拼接在请求 Url 参数部分，或放于 Form Data 中</strong></li>
    </ol>
    <div style="margin-top: 20px;">响应数据处理：</div>
    <ol style="line-height: 26px;">
        <li><strong>判断是否安全模式（sign是否有值），非安全模式（明文模式）无需对数据进行处理</strong></li>
        <li>
            <strong>验证签名（sign）</strong>
            <ol>
                <li><strong>Sorted</strong>: 将 data（response.data）、sign（<span style="color: red;">request</span>.sign）、timestamp（response.timestamp），按 data&sign&amp;timestamp 方式排序（彼此以 & 连接）</li>
                <li><strong>Signed</strong>: Sorted 进行 2 次 MD5 & UTF8 加密（2 次均为大写）</li>
                <li><strong>判断 Signed 与 response.sign 是否一致</strong></li>
            </ol>
        </li>
        <li><strong>解析数据（data）</strong>，第 2 步验证正确后，将 data（response.data） 进行 Base64 & UTF8 解密，即得到数据 JSON 字符串</li>
    </ol>
</div>

@Html.HashVersionPathFor("/Content/Plugins/jquery/jquery-2.1.4.min.js")
@Html.HashVersionPathFor("/Content/Plugins/cryptojs/crypto-js.js")
@Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.form.js", CommonSetting.SOLUTION_CODE.ToLower()))

<script type="text/javascript">
    var SignedKey = '@Framework.Utilities.APIUtility.SignedKey';
    var SignedKeyHex = SignedKey.hexEncrypt().toLowerCase();
    console.log('SignedKey', SignedKey);
    console.log('SignedKeyHex', SignedKeyHex);

    var addParam = function (type) {
        $('#' + type).append(
'<div class="row" style="margin-top: 5px;">' +
    '<input type="text" class="form-control" name="param_name" style="width: 45%; float: left;" />' +
    '<span style="width: 10%; text-align: center; float: left;">=</span>' +
    '<input type="text" class="form-control" name="param_value" data-crypto="" style="width: 45%; float: left;" onchange="encrypt(this)" />' +
'</div>');
    };

    var encrypt = function (control) {
        var $this = $(control);
        var value = $this.val();
        if (value !== undefined && value !== '') {
            var crypto = value.hexEncrypt().toLowerCase().xorEncrypt(SignedKeyHex).base64Encrypt();
            $this.data('crypto', crypto);
            console.log('encrypt', value, crypto);
        } else {
            $this.data('crypto', '');
        }
    };

    var generate = function () {
        var $btnGenerate = $('#btnGenerate').attr({ disabled: true });
        var $info = $('#INFO').empty().append('<div>处理中 ...</div>');
        var level = $('[name="level"]').val();
        var requestKeys = [];

        // get
        var getParams = {};
        var getParamsString = [];
        $('#GET .row').each(function () {
            var name = $(this).find('[name="param_name"]').val();
            var value = $(this).find('[name="param_value"]').val();

            if (name !== undefined && name !== '' && value !== undefined && value !== '') {
                requestKeys.push(name);
                getParams[name] = value;
                getParamsString.push(name + '=' + value);
            }
        });

        // post
        var postParams = {};
        var postParamsString = [];
        $('#POST .row').each(function () {
            var name = $(this).find('[name="param_name"]').val();
            var value = $(this).find('[name="param_value"]').val();
            var crypto = $(this).find('[name="param_value"]').data('crypto');

            if (name !== undefined && name !== '' && value !== undefined && value !== '') {
                requestKeys.push(name);
                if (level === 'None') {
                    postParams[name] = value;
                    postParamsString.push(name + '=' + value);
                } else {
                    postParams[name] = crypto;
                    postParamsString.push(name + '=' + crypto);
                }
            }
        });

        // sign
        var sign = '';
        if (level !== 'None') {
            var signParams = [];
            $.each(requestKeys.sort(), function (i, v) {
                if (getParams[v]) {
                    signParams.push(v.toLowerCase() + '=' + getParams[v]);
                } else {
                    signParams.push(v.toLowerCase() + '=' + postParams[v]);
                }
            });
            sign = signParams.join('&').md5Encrypt().md5Encrypt();
            getParamsString.push('sign=' + sign);
            console.log('sign', sign);

            // token
            if (level === 'Token') {
                var appid = $('[name="appid"]').val();
                var appsecret = $('[name="appsecret"]').val();
                var token = [appid, appsecret, sign].sort().join('').sha1Encrypt().toLowerCase();

                getParamsString.push('appid=' + appid);
                getParamsString.push('token=' + token);
                console.log('appid', appid);
                console.log('token', token);
            } else if (level === 'Auth') {
                var authid = $('[name="authid"]').val();

                postParams['authid'] = authid;
                postParamsString.push('authid=' + authid);
                console.log('authid', authid);
            }
        }

        // request
        $info.empty();
        var url = $('[name="url"]').val() + '?' + getParamsString.join('&');
        $info.append('<div>request url:</div><div style="word-break:break-all; word-wrap:break-word;">' + url + '</div>');
        $.each(postParamsString, function (i, v) {
            if (i === 0) {
                $info.append('<div style="margin-top: 15px;">request data:</div>');
            }
            $info.append('<div style="word-break:break-all; word-wrap:break-word;">' + v + '</div>');
        });
        $.appAjax({
            url: url,
            data: postParams,
            onSuccess: function (responseData) {
                $info.append('<div style="margin-top: 15px;">response data:</div><div style="word-break:break-all; word-wrap:break-word;">' + JSON.stringify(responseData) + '</div>');
                if (responseData.result && responseData.sign) {
                    var signed = (responseData.data + '&' + sign + '&' + responseData.timestamp).md5Encrypt().md5Encrypt();
                    if (responseData.sign === signed) {
                        $info.append('<div style="margin-top: 15px;">decrypted data:</div><div style="word-break:break-all; word-wrap:break-word;">' + responseData.data.base64Decrypt() + '</div>');
                    } else {
                        $info.append('<div style="margin-top: 15px;">decrypted data:</div><div style="word-break:break-all; word-wrap:break-word;">签名不正确</div>');
                    }
                }
            },
            onComplete: function () {
                $btnGenerate.attr({ disabled: false });
            }
        });
    };

    $(function () {
        $('[name="param_value"]').change();
    });
</script>
