﻿body.login .box-login,
body.login .box-forgot,
body.login .box-register {
    color: #666 !important;
    top: auto;
    margin-top: 10px;
}

    body.login .box-login h3,
    body.login .box-forgot h3,
    body.login .box-register h3 {
        font-weight: lighter !important;
    }

    body.login .box-login .form-actions,
    body.login .box-forgot .form-actions,
    body.login .box-register .form-actions {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ededed;
    }

    body.login .box-login .copyright,
    body.login .box-forgot .copyright,
    body.login .box-register .copyright {
        margin-top: 0;
        padding-top: 0;
    }

    body.login .box-login .new-account {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 10px;
        border-top: none;
    }
