﻿@model Framework.Models.User.EditUserInfo

@section footerSection {
    @Html.HashVersionPathFor("/Areas/System/Content/Scripts/User/info.js")
}

<div class="panel panel-white">
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal pt10" }))
        {
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.IsUpdatePassword)

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Account, new { @class = "control-label" })
                        <div class="input-group">
                            @Html.PlaceholderTextBoxFor(m => m.Account, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button id="btnShowUpdatePassword" type="button" class="btn btn-success-solid" onclick="showUpdatePassword(500)">修改密码</button>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Account)
                    </div>
                    <div id="divPassword" class="form-group app-hide">
                        @Html.RequireLabelFor(m => m.NewPassword, new { @class = "control-label require" })
                        <div class="input-group">
                            @Html.PlaceholderTextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "请输入密码" })
                            <span class="input-group-btn">
                                <button id="btnChangePasswordVisible" type="button" class="btn btn-dark-solid" onclick="changePasswordVisible()" title="显示密码" data-state="0"><span class="fa fa-eye"></span></button>
                                <button id="btnGeneratePassword" type="button" class="btn btn-dark-solid" onclick="generatePassword()">生成随机密码</button>
                            </span>
                        </div>
                        <span class="help-block">
                            <span class="fa fa-info-circle"></span>
                            6~32个字符，数字、大小写字母、特殊字符，请任选两种以上进行组合
                        </span>
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Type, new { @class = "control-label" })
                        <div>
                            @Html.EnumRadioButtonListFor(m => m.Type, new { @class = "radio-inline radio-primary" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Type)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Sex, new { @class = "control-label require" })
                        <div>
                            @Html.EnumRadioButtonListFor(m => m.Sex, new { @class = "radio-inline radio-primary" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Sex)
                    </div>

                    <div class="form-group mt30">
                        @Html.RequireLabelFor(m => m.Phone, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Wechat, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Wechat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Wechat)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.QQ, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.QQ, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.QQ)
                    </div>
                </div>

                <div class="col-sm-8 col-sm-offset-4">
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.AppId, new { @class = "control-label require" })
                        @Html.PlaceholderTextBoxFor(m => m.AppId, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(m => m.AppId)
                    </div>
                    <div class="form-group mb30">
                        @Html.RequireLabelFor(m => m.AppSecret, new { @class = "control-label require" })
                        <div class="input-group">
                            @Html.PlaceholderTextBoxFor(m => m.AppSecret, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark-solid" onclick="generateAppSecret()">生成随机秘钥</button>
                            </span>
                        </div>
                        <span class="help-block">
                            <span class="fa fa-info-circle"></span>
                            由数字和大小写字母组成，不超过32位
                        </span>
                        @Html.ValidationMessageFor(m => m.AppSecret)
                    </div>

                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.RoleList, new { @class = "control-label require" })
                        <div class="well well-sm mb0">
                            @Html.EnumCheckBoxListFor(m => m.RoleList, new { @class = "checkbox-inline checkbox-primary" })
                        </div>
                        @Html.CollectionLengthValidationMessageFor(m => m.RoleList)
                    </div>

                    <div class="form-group mt30">
                        <label class="checkbox checkbox-primary">
                            @Html.CheckBoxFor(m => m.IsEnabled)
                            <span>启用用户</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt30">
                <div class="col-sm-20 col-sm-offset-2">
                    <div class="form-group">
                        <hr />

                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-16">
                                <button type="submit" class="btn btn-primary btn-block">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
