﻿@model Framework.Models.User.UserInfo

@section footerSection {
    @Html.HashVersionPathFor("/Areas/System/Content/Scripts/User/info.js")
}

<div class="panel panel-white">
    <div class="panel-body">
        @using (Html.BeginForm("Info", "User", FormMethod.Post, new { @class = "form-horizontal pt10" }))
        {
            @Html.HiddenFor(m => m.NeedUpdatePassword)
            @Html.HiddenFor(m => m.IsUpdatePassword)

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Account, new { @class = "control-label" })
                        <div class="input-group">
                            @Html.PlaceholderTextBoxFor(m => m.Account, new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button id="btnShowUpdatePassword" type="button" class="btn btn-success-solid" onclick="showUpdatePassword(500)">修改密码</button>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Account)
                    </div>
                    <div id="divPassword" class="app-hide mb10">
                        <div class="form-group">
                            @Html.RequireLabelFor(m => m.OldPassword, new { @class = "control-label require" })
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "请输入旧密码" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                        <div class="form-group">
                            @Html.RequireLabelFor(m => m.NewPassword, new { @class = "control-label require" })
                            <div class="input-group">
                                @Html.PlaceholderTextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "请输入新密码" })
                                <span class="input-group-btn">
                                    <button id="btnChangePasswordVisible" type="button" class="btn btn-dark-solid" onclick="changePasswordVisible()" title="显示密码" data-state="0"><span class="fa fa-eye"></span></button>
                                    <button id="btnGeneratePassword" type="button" class="btn btn-dark-solid" onclick="generatePassword()">生成随机密码</button>
                                </span>
                            </div>
                            <span class="help-block">
                                <span class="fa fa-info-circle"></span>
                                6~32个字符，数字、大小写字母、特殊字符，请任选两种以上进行组合
                            </span>
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Sex, new { @class = "control-label require" })
                        <div>
                            @Html.EnumRadioButtonListFor(m => m.Sex, new { @class = "radio-inline radio-primary" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Sex)
                    </div>

                    <div class="form-group mt30">
                        @Html.RequireLabelFor(m => m.Phone, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.Wechat, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Wechat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Wechat)
                    </div>
                    <div class="form-group">
                        @Html.RequireLabelFor(m => m.QQ, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.QQ, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.QQ)
                    </div>

                    <div class="form-group mt30">
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-12">
                                <button type="submit" class="btn btn-primary btn-block">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
