﻿@model Framework.Models.User.SearchCondition

@section footerSection {
    @Html.HashVersionPathFor("/Areas/System/Content/Scripts/User/list.js")
}

<div class="panel panel-white">
    <div class="panel-body">
        @using (Html.BeginForm("List", "User", FormMethod.Post, new { @class = "form-horizontal pt10 datagrid-search" }))
        {
            <div class="form-group">
                <div class="col-sm-4">
                    @Html.PlaceholderTextBoxFor(m => m.Account, new { @class = "form-control" }, format: "搜索{0}")
                </div>
                <div class="col-sm-4">
                    @Html.PlaceholderTextBoxFor(m => m.Name, new { @class = "form-control" }, format: "搜索{0}")
                </div>
                <div class="col-sm-4">
                    @Html.EnumSelectFor(m => m.Type, new { @class = "form-control" }, "全部类型")
                </div>
                <div class="col-sm-4">
                    @Html.EnumSelectFor(m => m.Role, new { @class = "form-control" }, "全部角色")
                </div>
                <div class="col-sm-4">
                    @Html.EnumSelectFor(m => m.Status, new { @class = "form-control" })
                </div>

                <div class="col-sm-4 datalist-action">
                    <button class="btn btn-primary">
                        <i class="fa fa-search"></i>
                        查询
                    </button>
                </div>
            </div>
        }

        <div id="datalist"></div>
    </div>
</div>
