﻿@using Framework.Models.Menu
@{
    var menuMaxDeep = WebsiteSetting.MenuMaxDeep;
    var menuList = ViewBag.MenuList as IEnumerable<MenuInfo>;
}

@section headerSection {
    <style type="text/css">
        .dd-collapse, .dd-expand {
            display: none !important;
            font-weight: normal;
        }
    </style>
}

@section footerSection {
    <script type="text/javascript">
        var MenuMaxDeep = @(menuMaxDeep);
        @Html.ListToJson(menuList, "MenuList")
    </script>
    @Html.HashVersionPathFor("/Content/Plugins/nestable/jquery.nestable.js")
    @Html.HashVersionPathFor("/Areas/System/Content/Scripts/Menu/index.js")
}

<div class="panel panel-white">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="menuContainer" class="dd mt-5"></div>

                <button type="button" class="btn btn-default btn-block mt30" onclick="addParentMenu(undefined, 1)">添加1级菜单</button>
                <button id="btnSave" type="button" class="btn btn-primary btn-block mt10">保存并清空缓存</button>
            </div>

            <div class="col-sm-12">
                <div class="alert alert-info">
                    <ol class="text-lh-lg ml20 mb0">
                        <li>最多允许 <strong class="text-danger">@(menuMaxDeep)级</strong> 菜单；</li>
                        <li>父级菜单不允许绑定界面（已绑定的不生效）；</li>
                        <li>修改菜单后，<strong class="text-danger">必须保存</strong> 才会生效；</li>
                    </ol>
                </div>

                <div class="alert">
                    <div>UPDATE SYS_MENU SET ParentMenuId = NULL;</div>
                    <div>DELETE FROM sys_menu;</div>
                    <div>ALTER TABLE sys_menu AUTO_INCREMENT = 1;</div>
                    @{
                        var sqlList = new System.Text.StringBuilder();

                        var currentId = 0;
                        Action<int?, IEnumerable<MenuInfo>> func = null;
                        func = new Action<int?, IEnumerable<MenuInfo>>((parentId , list) =>
                        {
                            var sorted = 0;
                            foreach (var menu in list)
                            {
                                if (menu.Privilege.HasValue)
                                {
                                    sqlList.AppendFormat(
                                        "<div>INSERT INTO sys_menu (ParentMenuId, PrivilegeCode, Name, Icon, Description, Sorted, IsVisible) VALUES ({0}, '{1}', '{2}', {3}, '{4}', {5}, {6});</div>",
                                        parentId.HasValue ? parentId.Value.ToString() : "NULL",
                                        menu.Privilege.Value.ToString(),
                                        menu.Name,
                                        menu.Icon.HasValue() ? "'" + menu.Icon + "'" : "NULL",
                                        menu.Description,
                                        sorted++,
                                        menu.IsVisible ? 1 : 0
                                    );
                                }
                                else
                                {
                                    sqlList.AppendFormat(
                                        "<div>INSERT INTO sys_menu (ParentMenuId, PrivilegeCode, Name, Icon, Description, Sorted, IsVisible) VALUES ({0}, NULL, '{1}', {2}, '{3}', {4}, {5});</div>",
                                        parentId.HasValue ? parentId.Value.ToString() : "NULL",
                                        menu.Name,
                                        menu.Icon.HasValue() ? "'" + menu.Icon + "'" : "NULL",
                                        menu.Description,
                                        sorted++,
                                        menu.IsVisible ? 1 : 0
                                    );
                                }
                                ++currentId;

                                if (menu.SubMenuList != null && menu.SubMenuList.Any())
                                {
                                    func(currentId, menu.SubMenuList);
                                }
                            }
                        });
                        func(null, menuList);
                        @Html.Raw(sqlList.ToString())
                    }
                </div>
            </div>
        </div>
    </div>
</div>
