﻿@model Framework.Models.Menu.MenuInfo
@{ Layout = null; }

<div class="row">
    <div class="col-sm-20 col-sm-offset-2">
        @using (Html.BeginForm("ParentMenu", "Menu", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-15">
                        @Html.RequireLabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="col-sm-9">
                        @Html.RequireLabelFor(m => m.Icon, new { @class = "control-label" })
                        @Html.PlaceholderTextBoxFor(m => m.Icon, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Icon)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.RequireLabelFor(m => m.Description, new { @class = "control-label" })
                @Html.PlaceholderTextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="form-group mt30">
                <button type="submit" class="btn btn-primary btn-block">确定</button>
            </div>
        }
    </div>
</div>
