﻿@using Framework.Privilege;
@{ Layout = null; }

<div class="row">
    <div class="col-sm-20 col-sm-offset-2">
        @using (Html.BeginForm("SubMenu", "Menu", FormMethod.Post, new { id = "formAddSubMenu", @class = "form-horizontal" }))
        {
            var groupList = EnumExtension.GetEnumList<PrivilegeCode>()
                .Select(code =>
                {
                    var group = code.ToString().Replace("URL_", null);
                    group = group.Substring(0, group.LastIndexOf("_"));
                    return new Tuple<string, string, string, int>(group, code.ToString(), code.ToMessage(), (int)code);
                })
                .Where(code => code.Item2.StartsWith("URL_") && !code.Item3.StartsWith("POST-"))
                .OrderBy(code => code.Item1)
                .GroupBy(code => code.Item1);

            foreach (var group in groupList)
            {
                <div name="group" class="form-group">
                    <h5 class="mb5">@group.Key</h5>

                    @foreach (var privilege in group)
                    {
                        <label class="checkbox checkbox-inline checkbox-primary">
                            <input type="checkbox" value="@privilege.Item4" data-name="@privilege.Item3" />
                            <span>@privilege.Item3</span>
                        </label>
                    }
                </div>
            }

            <div id="divNullMessage" class="form-group app-hide">
                <span class="field-validation-error text-fs-sm">没有更多界面了</span>
            </div>

            <div id="divInvalidMessage" class="form-group app-hide">
                <span class="field-validation-error">请先选择菜单界面</span>
            </div>

            <div class="form-group mt30">
                @if (ViewBag.CanAddParentMenu)
                {
                    <div class="row">
                        <div class="col-sm-8">
                            <button id="btnAddParentMenu" type="button" class="btn btn-default btn-block">添加父级菜单</button>
                        </div>
                        <div class="col-sm-16">
                            <button type="submit" class="btn btn-primary btn-block">添加</button>
                        </div>
                    </div>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-block">添加</button>
                }
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.each(MenuList, function (i, v) {
            if (v.privilege !== undefined) {
                $('#formAddSubMenu input[type="checkbox"][value="' + v.privilege + '"]').parent().remove();
            }
        });
        $('#formAddSubMenu div[name="group"]').each(function (i, v) {
            if (!$(v).find('input[type="checkbox"]').length) {
                $(v).remove();
            }
        });
        if (!$('#formAddSubMenu div[name="group"]').length) {
            $('#divNullMessage').show();
            $('button[type="submit"]').attr({ disabled: true });
        }
    });
</script>
