body {
    background-color: #efefef;
}

/* flex */
.weui-flex .weui-flex__item:last-child,
.weui-flex > div:last-child {
    margin-right: 0;
}

.weui-flex .weui-flex__item.weui-flex__item-1_5 {
    -webkit-box-flex: 1.5;
    -moz-box-flex: 1.5;
    -ms-box-flex: 1.5;
    -o-box-flex: 1.5;
    box-flex: 1.5;
    -webkit-flex: 1.5;
    -moz-flex: 1.5;
    -ms-flex: 1.5;
    -o-flex: 1.5;
    flex: 1.5;
}

.weui-flex .weui-flex__item.weui-flex__item-2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -ms-box-flex: 2;
    -o-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    -o-flex: 2;
    flex: 2;
}

.weui-flex .weui-flex__item.weui-flex__item-2_5 {
    -webkit-box-flex: 2.5;
    -moz-box-flex: 2.5;
    -ms-box-flex: 2.5;
    -o-box-flex: 2.5;
    box-flex: 2.5;
    -webkit-flex: 2.5;
    -moz-flex: 2.5;
    -ms-flex: 2.5;
    -o-flex: 2.5;
    flex: 2.5;
}

.weui-flex .weui-flex__item.weui-flex__item-3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -ms-box-flex: 3;
    -o-box-flex: 3;
    box-flex: 3;
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    -o-flex: 3;
    flex: 3;
}

/* uploader */
.weui-uploader .weui-uploader__hd .weui-uploader__info {
    font-size: 12px;
}

.weui-uploader .weui-uploader__bd {
    margin-bottom: 0;
    margin-right: 0;
    overflow: initial;
}

.uploader-files .weui-flex {
    margin: 0 0 10px 0;
}

    .uploader-files .weui-flex:last-child {
        margin-bottom: 0;
    }

    .uploader-files .weui-flex .weui-flex__item {
        margin: 0 0 0 10px;
        position: relative;
    }

        .uploader-files .weui-flex .weui-flex__item:first-child {
            margin-left: 0;
        }

        .uploader-files .weui-flex .weui-flex__item img {
            width: 100%;
        }

        .uploader-files .weui-flex .weui-flex__item .uploader-files-remove {
            position: absolute;
            top: -4px;
            right: -4px;
            line-height: 1;
            color: #ee2222;
            background-color: #ffffff;
            z-index: 10;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }

        .uploader-files .weui-flex .weui-flex__item .uploader-files-status {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10;
        }

.uploader-input {
    position: relative;
}

    .uploader-input:before,
    .uploader-input:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #bcbcbc;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .uploader-input:before {
        width: 4px;
        height: 50%;
    }

    .uploader-input:after {
        width: 50%;
        height: 4px;
    }

    .uploader-input .uploader-input-file {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: alpha(opacity=0);
        opacity: 0;
    }

/* navbar & tabbar */
.weui-navbar {
    background-color: #f7f7f7;
}

    .weui-navbar:after {
        content: none;
    }

    .weui-navbar .weui-navbar__item {
        color: #787878 !important;
        line-height: 1;
        font-size: 13px;
        padding: 13.5px 0;
    }

        .weui-navbar .weui-navbar__item:after {
            border-bottom: 1px solid #dedede;
            border-right: 1px solid #dedede;
        }

        .weui-navbar .weui-navbar__item.weui-bar__item--on {
            background-color: #ffffff;
            padding-bottom: 10px;
            border-bottom: 3px solid #108ee9;
            color: #108ee9 !important;
        }

    .weui-navbar + .weui-tab__bd {
        padding-top: 40px;
    }

        .weui-navbar + .weui-tab__bd .weui-tab__bd-item.weui-pull-to-refresh {
            position: unset;
        }

.weui-tabbar {
    background-color: #f7f7f7;
}

    .weui-tabbar .weui-tabbar__item {
        line-height: 1;
        font-size: 12px;
        padding: 0;
    }

        .weui-tabbar .weui-tabbar__item .weui-tabbar__icon {
            width: 24px;
            height: 24px;
            margin-top: 5px;
        }

            .weui-tabbar .weui-tabbar__item .weui-tabbar__icon.weui-tabbar__icon--on {
                display: none;
            }

        .weui-tabbar .weui-tabbar__item.weui-bar__item--on .weui-tabbar__icon {
            display: none;
        }

            .weui-tabbar .weui-tabbar__item.weui-bar__item--on .weui-tabbar__icon.weui-tabbar__icon--on {
                display: inline-block;
            }

        .weui-tabbar .weui-tabbar__item .weui-tabbar__label {
            display: block;
        }

        .weui-tabbar .weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
            color: #108ee9;
        }

/* search bar */
.weui-search-bar {
    background-color: #f3f3f3;
}

    .weui-search-bar .weui-search-bar__form {
        background-color: transparent;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

        .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input {
            text-align: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            -webkit-transition: all ease-in-out 1s;
            -moz-transition: all ease-in-out 1s;
            -ms-transition: all ease-in-out 1s;
            -o-transition: all ease-in-out 1s;
            transition: all ease-in-out 1s;
        }

            .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input::-moz-placeholder {
                color: #bcbcbc;
                filter: alpha(opacity=100);
                opacity: 1;
            }

            .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input:-ms-input-placeholder {
                color: #bcbcbc;
            }

            .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input::-webkit-input-placeholder {
                color: #bcbcbc;
            }

            .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input ~ .weui-icon-search {
                left: 0;
                padding: 0 0 0 7px;
                display: none;
            }

            .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input ~ .weui-icon-clear {
                color: #dedede !important;
                padding: 0 7px 0 0;
            }

            .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input.weui-search-bar__input-focusing {
                text-align: left;
            }

                .weui-search-bar .weui-search-bar__form .weui-search-bar__box .weui-search-bar__input.weui-search-bar__input-focusing ~ .weui-icon-search {
                    display: block;
                }

/* panel */
.weui-panel .weui-panel__bd .weui-media-box .weui-media-box__info {
    margin-top: 10px;
    padding-bottom: 0;
}

    .weui-panel .weui-panel__bd .weui-media-box .weui-media-box__info li,
    .weui-panel .weui-panel__bd .weui-media-box .weui-media-box__info li * {
        font-size: 12px;
        color: #cbcbcb;
        line-height: 1;
    }

        .weui-panel .weui-panel__bd .weui-media-box .weui-media-box__info li.weui-media-box__info__meta_extra {
            border-left: 1px solid #cbcbcb;
        }

.weui-panel .weui-panel__bd .weui-media-box.weui-media-box_appmsg .weui-media-box__hd .weui-media-box__thumb {
    width: 60px;
    height: 60px;
}

.weui-panel .weui-panel__bd .weui-media-box.weui-media-box_appmsg.weui-media-box_appmsg-sm .weui-media-box__hd {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

    .weui-panel .weui-panel__bd .weui-media-box.weui-media-box_appmsg.weui-media-box_appmsg-sm .weui-media-box__hd .weui-media-box__thumb {
        width: 40px;
        height: 40px;
    }

.weui-panel .weui-panel__bd .weui-media-box.weui-media-box_appmsg-sm .weui-media-box__desc {
    -webkit-line-clamp: 1;
}

.weui-panel .weui-panel__ft .weui-cell_access * {
    color: #108ee9;
    font-size: 13px;
}

/* preview */
.weui-form-preview .weui-form-preview__hd .weui-form-preview__label,
.weui-form-preview .weui-form-preview__hd .weui-form-preview__value {
    line-height: 30px;
}

.weui-form-preview .weui-form-preview__hd .weui-form-preview__label {
    font-size: 16px;
}

.weui-form-preview .weui-form-preview__hd .weui-form-preview__value {
    font-size: 22px;
}

.weui-form-preview .weui-form-preview__bd .weui-form-preview__item .weui-form-preview__label,
.weui-form-preview .weui-form-preview__bd .weui-form-preview__item .weui-form-preview__value {
    font-size: 14px;
    line-height: 1.25;
    margin-top: 8px;
}

.weui-form-preview .weui-form-preview__ft .weui-form-preview__btn {
    line-height: 44px;
    color: #787878;
}

    .weui-form-preview .weui-form-preview__ft .weui-form-preview__btn.weui-form-preview__btn_primary {
        color: #108ee9;
    }

/* area */
.weui-btn-area,
.weui-content-area,
.weui-form-area {
    margin: 0 15px;
}

/* cells */
.weui-cells__title {
    margin: 3px 0;
}

.weui-cells {
    margin: 0;
}

    .weui-cells .weui-cell .weui-cell__hd {
        position: relative;
    }

    .weui-cells .weui-cell .weui-cell__bd {
        color: #333333;
        position: relative;
    }

    .weui-cells .weui-cell .weui-cell__ft {
        color: #bcbcbc;
    }

    .weui-cells.weui-cells_checkbox .weui-cell .weui-check:checked + .weui-icon-checked:before,
    .weui-cells.weui-cells_radio .weui-cell .weui-check:checked + .weui-icon-checked:before {
        color: #108ee9;
    }

    .weui-cells .weui-cell .form-control {
        padding: 0;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

        .weui-cells .weui-cell .form-control[disabled],
        .weui-cells .weui-cell .form-control[disabled]:hover,
        .weui-cells .weui-cell .form-control[disabled]:focus,
        .weui-cells .weui-cell .form-control[disabled]:active,
        .weui-cells .weui-cell .form-control[readonly],
        .weui-cells .weui-cell .form-control[readonly]:hover,
        .weui-cells .weui-cell .form-control[readonly]:focus,
        .weui-cells .weui-cell .form-control[readonly]:active {
            background-color: transparent;
        }

    .weui-cells .weui-cell .weui-textarea-counter {
        display: block;
        font-size: 12px;
        color: #bcbcbc;
    }

    .weui-cells .weui-cell.weui-cell_vcode .weui-cell__ft .weui-vcode-btn {
        font-size: 14px;
        color: #108ee9;
        border: 0;
        padding: 0 15px 0 10px;
    }

    .weui-cells .weui-cell.weui-cell_vcode .weui-cell__ft .weui-vcode-icon {
        margin-left: 5px;
        padding: 0 15px 0 .7em;
        line-height: 44px;
        height: 44px;
        vertical-align: middle;
        font-size: 14px;
        color: #787878;
    }

    .weui-cells .weui-cell.weui-cell_vcode .weui-cell__ft .fa.weui-vcode-icon {
        font-size: 18px;
    }

    .weui-cells .weui-cell.weui-cell_vcode.weui-cell_vcode-before {
        padding-right: 15px;
    }

        .weui-cells .weui-cell.weui-cell_vcode.weui-cell_vcode-before .weui-cell__ft .weui-vcode-icon {
            margin-left: 0;
            margin-right: 5px;
            padding: 0 .7em 0 0;
        }

    .weui-cells .weui-cell.weui-cell_switch .weui-cell__ft .weui-switch:checked {
        border-color: #108ee9;
        background-color: #108ee9;
    }

    .weui-cells .weui-cell.weui-cell_select {
        padding: 10px 15px;
    }

        .weui-cells .weui-cell.weui-cell_select .weui-cell__bd:after {
            right: 2px;
        }

        .weui-cells .weui-cell.weui-cell_select .weui-cell__bd.weui-cell__unarrow:after {
            content: none;
        }

        .weui-cells .weui-cell.weui-cell_select select.form-control,
        .weui-cells .weui-cell.weui-cell_select .select.form-control {
            color: #333333;
            border: 0;
            background-image: none !important;
            padding-right: 15px;
        }

            .weui-cells .weui-cell.weui-cell_select select.form-control.input-notempty,
            .weui-cells .weui-cell.weui-cell_select .select.form-control.input-notempty {
                padding-right: 30px;
            }

            .weui-cells .weui-cell.weui-cell_select select.form-control:hover,
            .weui-cells .weui-cell.weui-cell_select select.form-control:focus,
            .weui-cells .weui-cell.weui-cell_select select.form-control:active,
            .weui-cells .weui-cell.weui-cell_select .select.form-control:hover,
            .weui-cells .weui-cell.weui-cell_select .select.form-control:focus,
            .weui-cells .weui-cell.weui-cell_select .select.form-control:active {
                background-image: none !important;
            }

    .weui-cells .weui-cell.weui-cell_select-before .weui-cell__hd:before {
        right: 10px;
    }

    .weui-cells .weui-cell.weui-cell_select-before .weui-cell__hd select.form-control,
    .weui-cells .weui-cell.weui-cell_select-before .weui-cell__hd .select.form-control {
        width: 105px;
        padding-right: 18px;
    }

        .weui-cells .weui-cell.weui-cell_select-before .weui-cell__hd select.form-control.input-notempty,
        .weui-cells .weui-cell.weui-cell_select-before .weui-cell__hd .select.form-control.input-notempty {
            padding-right: 36px;
        }

    .weui-cells .weui-cell.weui-cell_select .weui-cell__bd .weui-icon-clear,
    .weui-cells .weui-cell.weui-cell_select-before .weui-cell__hd .weui-icon-clear {
        position: absolute;
        top: 5px;
        color: #dedede !important;
    }

    .weui-cells .weui-cell.weui-cell_select .weui-cell__bd .weui-icon-clear {
        right: 10px;
    }

    .weui-cells .weui-cell.weui-cell_select-before .weui-cell__hd .weui-icon-clear {
        right: 18px;
    }

    .weui-cells .weui-cell .weui-icon-clear:before {
        margin: 0;
    }

    .weui-cells .weui-cell.weui-cell_button {
        padding-top: 0;
        padding-bottom: 0;
    }

        .weui-cells .weui-cell.weui-cell_button .uploader-input {
            border: 0;
            height: 44px;
            line-height: 44px;
        }

            .weui-cells .weui-cell.weui-cell_button .uploader-input:before,
            .weui-cells .weui-cell.weui-cell_button .uploader-input:after {
                content: none;
            }

            .weui-cells .weui-cell.weui-cell_button .uploader-input .uploader-input-text {
                font-size: 14px;
                color: #108ee9;
            }

.weui-agree {
    margin-top: 1em;
    padding: 0 15px;
}

    .weui-agree * {
        color: #9a9a9a;
        font-size: 14px;
    }

/* clear */
.weui-icon-clear {
    display: none !important;
}

.input-notempty ~ .weui-icon-clear {
    display: block !important;
}

/* dialog */
.weui-dialog {
    width: 96%;
    max-width: 96%;
    top: 50%;
    max-height: 96%;
}

    .weui-dialog .weui-dialog__hd {
        padding: 10px 15px;
        position: relative;
    }

        .weui-dialog .weui-dialog__hd .weui-dialog__close {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0;
            font-size: 24px;
            color: #9a9a9a;
            border: 0;
            background-color: transparent;
            outline: 0;
            height: 16px;
            line-height: 16px;
        }

    .weui-dialog .weui-dialog__bd {
        padding: 10px 15px 20px 15px;
        overflow-y: auto;
    }

    .weui-dialog .weui-dialog__ft .weui-dialog__btn,
    .weui-dialog .weui-dialog__ft .weui-dialog__btn:focus,
    .weui-dialog .weui-dialog__ft .weui-dialog__btn:active {
        padding: 10px 15px;
        line-height: 1.5;
        color: #787878 !important;
        background-color: transparent;
    }

        .weui-dialog .weui-dialog__ft .weui-dialog__btn.primary,
        .weui-dialog .weui-dialog__ft .weui-dialog__btn.primary:focus,
        .weui-dialog .weui-dialog__ft .weui-dialog__btn.primary:active {
            color: #108ee9 !important;
        }

/* calendar */
.weui-picker-container {
    z-index: 5000;
}

    .weui-picker-container .weui-picker-calendar {
        height: 300px;
    }

        .weui-picker-container .weui-picker-calendar .toolbar {
            background-color: #f3f3f3;
        }

            .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker,
            .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker {
                width: 50%;
                max-width: 50%;
            }

                .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner,
                .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker .picker-calendar-prev-year,
                .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker .current-year-value,
                .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker .picker-calendar-next-year,
                .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker .picker-calendar-prev-month,
                .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker .current-month-value,
                .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker .picker-calendar-next-month {
                    height: 36px;
                    line-height: 36px;
                    color: #333333;
                }

                    .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker .picker-calendar-prev-year .icon-prev,
                    .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker .picker-calendar-next-year .icon-next,
                    .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker .picker-calendar-prev-month .icon-prev,
                    .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker .picker-calendar-next-month .icon-next {
                        background: none;
                        font-family: 'FontAwesome';
                        font-size: 14px;
                        color: #108ee9;
                        width: unset;
                        height: unset;
                    }

                        .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker .picker-calendar-prev-year .icon-prev:before,
                        .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker .picker-calendar-prev-month .icon-prev:before {
                            content: '\f053';
                        }

                        .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-year-picker .picker-calendar-next-year .icon-next:before,
                        .weui-picker-container .weui-picker-calendar .toolbar .toolbar-inner .picker-calendar-month-picker .picker-calendar-next-month .icon-next:before {
                            content: '\f054';
                        }

        .weui-picker-container .weui-picker-calendar .picker-modal-inner {
            height: 264px;
        }

            .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-week-days {
                background-color: #f3f3f3;
            }

                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-week-days,
                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-week-days .picker-calendar-week-day {
                    font-size: 14px;
                    color: #333333;
                    height: 28px;
                    line-height: 28px;
                }

            .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months {
                height: 236px;
            }

                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months .picker-calendar-months-wrapper .picker-calendar-month .picker-calendar-row .picker-calendar-day span {
                    font-size: 13px;
                    color: #333333;
                }

                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months .picker-calendar-months-wrapper .picker-calendar-month .picker-calendar-row .picker-calendar-day.picker-calendar-day-weekend {
                    background-color: #f7f7f7;
                }

                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months .picker-calendar-months-wrapper .picker-calendar-month .picker-calendar-row .picker-calendar-day.picker-calendar-day-prev span,
                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months .picker-calendar-months-wrapper .picker-calendar-month .picker-calendar-row .picker-calendar-day.picker-calendar-day-next span {
                    color: #9a9a9a;
                }

                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months .picker-calendar-months-wrapper .picker-calendar-month .picker-calendar-row .picker-calendar-day.picker-calendar-day-disabled span {
                    color: #dedede;
                }

                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months .picker-calendar-months-wrapper .picker-calendar-month .picker-calendar-row .picker-calendar-day.picker-calendar-day-today span {
                    background-color: #efefef;
                }

                .weui-picker-container .weui-picker-calendar .picker-modal-inner .picker-calendar-months .picker-calendar-months-wrapper .picker-calendar-month .picker-calendar-row .picker-calendar-day.picker-calendar-day-selected span {
                    color: #ffffff;
                    background-color: #108ee9;
                }

    /* picker */
    .weui-picker-container .weui-picker-modal .toolbar .toolbar-inner,
    .weui-picker-container .weui-picker-modal .toolbar .toolbar-inner * {
        height: 36px;
        line-height: 36px;
        color: #333333;
        font-size: 16px !important;
    }

    .weui-picker-container .weui-picker-modal .weui-cells .weui-cell .weui-cell__bd p,
    .weui-picker-container .weui-picker-modal .picker-modal-inner .picker-items-col .picker-items-col-wrapper .picker-item {
        font-size: 14px !important;
    }

    .weui-picker-container .weui-picker-modal .picker-modal-inner .col-provinces,
    .weui-picker-container .weui-picker-modal .picker-modal-inner .col-cities,
    .weui-picker-container .weui-picker-modal .picker-modal-inner .col-districts {
        display: flex;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        -o-flex: 1;
        flex: 1;
    }

        .weui-picker-container .weui-picker-modal .picker-modal-inner .col-provinces .picker-items-col-wrapper,
        .weui-picker-container .weui-picker-modal .picker-modal-inner .col-cities .picker-items-col-wrapper,
        .weui-picker-container .weui-picker-modal .picker-modal-inner .col-districts .picker-items-col-wrapper {
            width: 100%;
        }

/* mask */
.weui-mask, .weui-mask_transparent {
    z-index: 800;
}

.weui-mask_transparent {
    background: rgba(0, 0, 0, .25);
}

    .weui-mask_transparent.weui-mask_transparent-dark {
        background: rgba(0, 0, 0, .7);
    }

/* popup */
.weui-popup__container,
.weui-popup__container .weui-popup__overlay {
    z-index: 500;
}

    .weui-popup__container .weui-popup__modal {
        background-color: #f3f3f3;
    }

/* toast */
.weui-toast {
    min-height: unset;
}

    .weui-toast,
    .weui-toast * {
        color: #ffffff;
    }

        .weui-toast .weui-icon_toast {
            margin: 10px 0;
            font-size: 34px;
        }

            .weui-toast .weui-icon_toast:before {
                font-size: 0;
                line-height: 34px;
                vertical-align: middle;
                -webkit-transition: font-size ease-in-out .25s .35s;
                -moz-transition: font-size ease-in-out .25s .35s;
                -ms-transition: font-size ease-in-out .25s .35s;
                -o-transition: font-size ease-in-out .25s .35s;
                transition: font-size ease-in-out .25s .35s;
            }

            .weui-toast .weui-icon_toast.weui-icon_toast-scale:before {
                font-size: 34px;
            }

            .weui-toast .weui-icon_toast.weui-loading {
                margin-top: 30px;
                font-size: 34px;
            }

        .weui-toast .weui-toast_content {
            padding: 5px 5px 20px 5px;
            font-size: 13px;
        }

        .weui-toast.weui-toast--text .weui-toast_content {
            padding-bottom: 7px;
        }

/* pull to refresh */
.weui-pull-to-refresh {
    margin-top: -40px;
    width: 100%;
}

    .weui-pull-to-refresh.refreshing {
        -webkit-transform: translate3d(0, 40px, 0);
        -moz-transform: translate3d(0, 40px, 0);
        -ms-transform: translate3d(0, 40px, 0);
        -o-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    .weui-pull-to-refresh .weui-pull-to-refresh__layer {
        height: 24px;
        line-height: 24px;
        padding: 8px 0;
    }

        .weui-pull-to-refresh .weui-pull-to-refresh__layer .weui-pull-to-refresh__arrow,
        .weui-pull-to-refresh .weui-pull-to-refresh__layer .weui-pull-to-refresh__preloader {
            width: 16px;
            height: 16px;
            background-size: 13px 16px;
        }

        .weui-pull-to-refresh .weui-pull-to-refresh__layer .down,
        .weui-pull-to-refresh .weui-pull-to-refresh__layer .up,
        .weui-pull-to-refresh .weui-pull-to-refresh__layer .refresh {
            font-size: 12px;
            color: #9a9a9a;
        }

/* load more */
.weui-loadmore {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px 0;
    height: 24px;
    line-height: 24px;
}

    .weui-loadmore .weui-loading {
        width: 16px;
        height: 16px;
    }

    .weui-loadmore .weui-loadmore__tips {
        font-size: 12px;
        color: #9a9a9a;
    }

/* data end */
.weui-data-end {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px 0;
    height: 24px;
    line-height: 24px;
}

    .weui-data-end .weui-data-end__tips {
        font-size: 12px;
        color: #9a9a9a;
        padding: 0 10px;
        background-color: #ffffff;
    }

/* footer */
.weui-footer .weui-footer__text {
    color: #bcbcbc;
}
