﻿/* rapido */
.main-wrapper .pageslide {
    width: 250px !important;
}

.main-wrapper .main-container {
    margin-left: 250px !important;
}

    body,
    .main-wrapper .main-container .main-content {
        background-color: #efefef !important;
    }

@media (max-width: 991px) {
    .main-wrapper .main-container {
        margin-left: 0 !important;
    }

    .sidebar-mobile-open .main-wrapper .main-container {
        left: 250px !important;
    }
}

/* user info */
.main-wrapper .pageslide .navbar-content .main-navigation .user-profile {
    padding: 0 15px !important;
    border: 0 !important;
    border-bottom: 1px solid #676767 !important;
    background-color: #565656 !important;
}

    .main-wrapper .pageslide .navbar-content .main-navigation .user-profile .headimg {
        width: 40px !important;
        height: 40px !important;
        vertical-align: middle !important;
    }

    .main-wrapper .pageslide .navbar-content .main-navigation .user-profile .name {
        color: #ffffff !important;
        margin: 0 !important;
        line-height: 1 !important;
    }

    .main-wrapper .pageslide .navbar-content .main-navigation .user-profile .user-options {
        color: #ababab !important;
        top: 12px !important;
    }

        .main-wrapper .pageslide .navbar-content .main-navigation .user-profile .user-options:hover {
            color: #ffffff !important;
            background-color: #343434 !important;
        }

/* menu */
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu li a {
    border: 0 !important;
    color: #efefef !important;
}

    .main-wrapper .pageslide .navbar-content ul.main-navigation-menu li a .fa {
        width: 20px !important;
        text-align: center !important;
        color: #9a9a9a !important;
        font-size: 15px !important;
    }

.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li > a:hover,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li > a:hover > .fa,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open > a,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open > a > .fa,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open > a:hover,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open > a:hover > .fa,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open ul.sub-menu > li > a:hover,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open ul.sub-menu > li > a:hover > .fa,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open ul.sub-menu > li.open > a,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open ul.sub-menu > li.open > a:hover,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.open ul.sub-menu > li.open > a:hover > .fa {
    color: #ffffff !important;
    background-color: #454545 !important;
}

.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.active > a,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.active > a > .fa,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.active > a:hover,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.active > a:hover > .fa,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.active ul.sub-menu > li.active > a,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.active ul.sub-menu > li.active > a:hover,
.main-wrapper .pageslide .navbar-content ul.main-navigation-menu > li.active ul.sub-menu > li.active > a:hover > .fa {
    color: #ffffff !important;
    background-color: #0099cc !important;
}

/* credit */
.main-wrapper .pageslide .slide-tools {
    background-color: #22282e !important;
}

/* toolbar */
.main-wrapper .main-container .main-content .container .toolbar {
    height: 60px !important;
    background-color: #ffffff !important;
}

    .main-wrapper .main-container .main-content .container .toolbar .page-header h1 {
        padding-left: 5px !important;
        margin: 0 !important;
        display: inline-block !important;
        height: 60px !important;
        line-height: 60px !important;
        color: #676767 !important;
        font-weight: bold !important;
        font-size: 20px !important;
    }

        .main-wrapper .main-container .main-content .container .toolbar .page-header h1 small {
            padding-left: 5px !important;
            margin: 0 !important;
            display: inline-block !important;
            color: #9a9a9a !important;
            font-weight: initial !important;
            font-size: 14px !important;
        }

    .main-wrapper .main-container .main-content .container .toolbar .leftbar-toggle {
        padding: 20px 5px !important;
        position: absolute !important;
        top: 0 !important;
        z-index: 999 !important;
        color: #9a9a9a !important;
    }

    .main-wrapper .main-container .main-content .container .toolbar .toolbar-tools ul.nav > li > a {
        margin: 0 !important;
        margin-top: 2px !important;
        padding-top: 8px !important;
        height: 55px !important;
        border: 0 !important;
        color: #454545 !important;
    }

        .main-wrapper .main-container .main-content .container .toolbar .toolbar-tools ul.nav > li > a:hover,
        .main-wrapper .main-container .main-content .container .toolbar .toolbar-tools ul.nav > li.open > a,
        .main-wrapper .main-container .main-content .container .toolbar .toolbar-tools ul.nav > li.open > a:hover {
            color: #343434 !important;
            background-color: #dedede !important;
        }

        .main-wrapper .main-container .main-content .container .toolbar .toolbar-tools ul.nav > li > a > span,
        .main-wrapper .main-container .main-content .container .toolbar .toolbar-tools ul.nav > li > a > span.fa {
            display: block !important;
            font-size: 20px !important;
        }

            .main-wrapper .main-container .main-content .container .toolbar .toolbar-tools ul.nav > li > a > span.badge {
                font-size: 12px !important;
                top: 3px !important;
                left: 55% !important;
                color: #ffffff !important;
                background-color: #ee2222 !important;
            }

/* content */
.main-wrapper .main-container .main-content .container .body-container {
    margin-top: 10px !important;
}

/* subview */
.main-wrapper .main-container .main-content .subview-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #ffffff;
    z-index: 9999;
}

    .main-wrapper .main-container .main-content .subview-layer .subview-header {
        position: fixed;
        top: 0;
        left: 250px;
        right: 0;
        height: 60px;
        line-height: 60px;
        background-color: #ffffff;
        border-bottom: 1px solid #dedede;
    }

        .main-wrapper .main-container .main-content .subview-layer .subview-header:after {
            clear: both;
            display: block;
            content: '';
        }

        .main-wrapper .main-container .main-content .subview-layer .subview-header h1 {
            float: left;
            margin: 0;
            margin-left: 15px;
            height: 60px;
            line-height: 60px;
            color: #787878;
        }

            .main-wrapper .main-container .main-content .subview-layer .subview-header h1 small {
                margin-left: 10px;
                color: #9a9a9a;
            }

        .main-wrapper .main-container .main-content .subview-layer .subview-header .subview-close {
            float: right;
            height: 54px;
            line-height: 54px;
            margin-top: 3px;
            margin-right: 15px;
            color: #9a9a9a;
            padding: 0 15px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
        }

            .main-wrapper .main-container .main-content .subview-layer .subview-header .subview-close:hover {
                color: #454545;
                background-color: #efefef;
            }

            .main-wrapper .main-container .main-content .subview-layer .subview-header .subview-close .fa {
                margin-right: 5px;
            }

    .main-wrapper .main-container .main-content .subview-layer .subview-content {
        padding: 100px 50px 40px 50px;
    }

/* modal */
.modal-backdrop, .modal-backdrop.fade.in {
    background-color: #000000;
}

.modal .modal-content .modal-header .close {
    margin-top: 0;
    filter: alpha(opacity=50);
    opacity: 0.5;
    outline: 0;
}

    .modal .modal-content .modal-header .close:hover,
    .modal .modal-content .modal-header .close:focus,
    .modal .modal-content .modal-header .close:active {
        filter: alpha(opacity=75);
        opacity: 0.75;
    }

    .modal .modal-content .modal-header .close span {
        font-size: 20px;
    }

.modal .modal-content .modal-body {
    padding: 20px 15px 25px 15px;
}

/* loading */
.loading-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background-color: #000000;
    filter: alpha(Opacity=80);
    opacity: 0.5;
    display: none;
}

    .loading-layer .form-loading {
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: 75px;
    }

@media (max-width: 767px) {
    .loading-layer .form-loading {
        top: 40%;
        margin-left: -50px;
    }
}

/* panel */
.panel.panel-white {
    color: #333333;
}

.panel .panel-heading.panel-tabheading {
    padding: 6px 0;
}

    .panel .panel-heading.panel-tabheading .panel-heading-tab .panel-heading-tab-item {
        display: inline-grid;
        margin: 0;
        padding: 5px 20px;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

        .panel .panel-heading.panel-tabheading .panel-heading-tab .panel-heading-tab-item .tab-title,
        .panel .panel-heading.panel-tabheading .panel-heading-tab .panel-heading-tab-item .tab-content {
            display: block;
            line-height: 1;
            font-size: 14px;
        }

        .panel .panel-heading.panel-tabheading .panel-heading-tab .panel-heading-tab-item .tab-content {
            margin-top: 5px;
        }

@media (max-width: 767px) {
    .panel .panel-heading.panel-tabheading .panel-heading-tab .panel-heading-tab-item {
        padding: 10px 10px;
        width: 32.5%;
        border-right: 0;
    }
}

/* datalist */
@media (max-width: 767px) {
    .datalist-action {
        margin-top: 10px;
        text-align: right;
    }
}

/* select2 */
.select2.select2-container.select2-container--default .selection .select2-selection.select2-selection--single,
.select2.select2-container.select2-container--default .selection .select2-selection.select2-selection--multiple,
.select2-container.select2-container--default.select2-container--open .select2-dropdown {
    border-radius: 0;
}
