﻿@model Framework.Models.Auth.LoginInfo
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Favicons/manifest.json">
    <link rel="mask-icon" href="~/Favicons/safari-pinned-tab.svg" color="#1f212f">
    <meta name="theme-color" content="#1f212f">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8;" />
    <meta http-equiv="cache-control" content="max-age=864000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta itemprop="name" content="@ViewBag.Title" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="~/Favicons/favicon-96x96.png" />
    <title>@CommonSetting.PROJECT_WEB_NAME - @CommonSetting.PROJECT_SLOGAN</title>

    @Html.HashVersionPathFor("/Content/Plugins/bootstrap/css/bootstrap.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/font-awesome/css/font-awesome.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/animate/animate.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/styles.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/styles-responsive.css")
    @Html.HashVersionPathFor(string.Format("/Content/Styles/{0}.admin.css", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Styles/{0}.admin.extension.css", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor("/Content/Styles/auth/index.css")
</head>
<body class="text-shadow login">
    <div class="row" style="z-index:3; position:relative;">
        <div class="main-login col-xs-20 col-xs-offset-2 col-sm-6 col-sm-offset-9">
            <div class="logo">
                <img src="~/Content/Images/logo.png" />
            </div>

            <div class="box-login">
                <h3>登录@(CommonSetting.PROJECT_WEB_NAME)后台</h3>
                @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { id = "form_login", @class = "form-login mt30" }))
                {
                    @Html.HiddenFor(m => m.ReturnUrl)
                    <div class="form-group">
                        <div class="input-icon">
                            <span class="fa fa-user"></span>
                            @Html.PlaceholderTextBoxFor(m => m.Account, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Account, null, new { id = "accountInvalidMessage" })
                    </div>
                    <div class="form-group mt20">
                        <div class="input-icon">
                            <span class="fa fa-lock"></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control password", placeholder = "请输入密码" })
                            <a class="forgot text-primary" href="@CommonSetting.VALUE_HTML_VOIDLINK">忘记密码</a>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, null, new { id = "passwoedInvalidMessage" })
                    </div>

                    <div class="form-actions">
                        <label class="checkbox checkbox-inline checkbox-primary">
                            <input type="checkbox" checked="checked" id="remember" name="remember">
                            <span>记住账号</span>
                        </label>

                        <button type="submit" class="btn btn-primary pull-right pl40 pr40">
                            登录
                            <span class="fa fa-arrow-circle-right"></span>
                        </button>
                    </div>

                    <div class="new-account">
                        还未有账号？
                        <a class="register text-primary" href="@CommonSetting.VALUE_HTML_VOIDLINK">注册账号</a>
                    </div>
                }

                <div class="text-muted copyright">
                    @CommonSetting.COMPANY_YEARS &copy; @CommonSetting.COMPANY_NAME_CN.
                </div>
            </div>

            <div class="box-forgot">
                <h3>忘记密码？</h3>
                <p>请输入你的登录账号和邮箱，以便重置密码</p>
                @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { id = "form_forgot", @class = "form-forgot mt30" }))
                {
                    <div class="form-group">
                        <div class="input-icon">
                            <span class="fa fa-user"></span>
                            <input type="text" class="form-control" name="email" placeholder="登录账号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon">
                            <span class="fa fa-envelope"></span>
                            <input type="email" class="form-control" name="email" placeholder="邮箱地址">
                        </div>
                    </div>

                    <div class="form-actions">
                        <a class="go-back pl0 pr0" href="@CommonSetting.VALUE_HTML_VOIDLINK" style="line-height: 34px;">
                            <span class="fa fa-arrow-circle-left"></span>
                            登录
                        </a>

                        <button type="submit" class="btn btn-success pull-right pl40 pr40">
                            提交
                            <span class="fa fa-arrow-circle-right"></span>
                        </button>
                    </div>
                }

                <div class="text-muted copyright">
                    @CommonSetting.COMPANY_YEARS &copy; @CommonSetting.COMPANY_NAME_CN.
                </div>
            </div>

            <div class="box-register">
                <h3>用户注册</h3>
                @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { id = "form_register", @class = "form-register mt30" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" name="account" placeholder="登录账号">
                        <div class="help-block">
                            <span class="fa fa-info-circle"></span>
                            建议使用邮箱、手机号、QQ号等作为登录账号
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="登录密码">
                        <div class="help-block">
                            <span class="fa fa-info-circle"></span>
                            6~32个字符，数字、大小写字母、特殊字符，请任选两种以上进行组合
                        </div>
                    </div>

                    <div class="form-group mt30">
                        <input type="text" class="form-control" name="name" placeholder="用户名称">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="邮箱地址">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="cellnumber" placeholder="手机号码">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="qq" placeholder="QQ号">
                    </div>

                    <div class="form-actions">
                        <div class="text-right">
                            <span>
                                点击注册表示已阅读并同意
                                <a class="text-primary" href="@CommonSetting.VALUE_HTML_VOIDLINK">《服务条款》</a>
                            </span>
                        </div>

                        <div class="mt10">
                            <span>
                                已有账号？
                                <a class="go-back text-primary" href="@CommonSetting.VALUE_HTML_VOIDLINK">直接登录</a>
                            </span>

                            <button type="submit" class="btn btn-primary pull-right pl40 pr40">
                                注册
                                <span class="fa fa-arrow-circle-right"></span>
                            </button>
                        </div>
                    </div>
                }

                <div class="alert alert-success">
                    <h3>注册成功！</h3>
                    <div class="mt30">
                        我们已经向您的邮箱
                        <a href="mailto:xxx@yichutech.com">xxx@yichutech.com</a>
                        发送了一封激活邮件，请点击邮件内的链接对账号进行激活。
                    </div>
                    <hr />
                    <div>没有收到邮件？</div>
                    <div class="mt10">1、请检查邮箱地址是否正确，若无误请尝试<a href="@CommonSetting.VALUE_HTML_VOIDLINK">重新发送</a>；</div>
                    <div>2、检查您的邮件垃圾箱；</div>
                    <div>3、联系客服处理；</div>
                </div>
                <div class="text-right mb30">
                    <button type="button" class="btn btn-success go-back pl40 pr40">
                        确定
                        <span class="fa fa-check"></span>
                    </button>
                </div>

                <div class="text-muted copyright">
                    @CommonSetting.COMPANY_YEARS &copy; @CommonSetting.COMPANY_NAME_CN.
                </div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
        @Html.HashVersionPathFor("/Content/Plugins/respond/respond.min.js")
        @Html.HashVersionPathFor("/Content/Plugins/excanvas/excanvas.min.js")
    <![endif]-->
    @Html.HashVersionPathFor("/Content/Plugins/jquery/jquery-2.1.4.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/bootstrap/js/bootstrap.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-validate/jquery.validate.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/jquery-validate/jquery.validate.unobtrusive.js")
    @Html.HashVersionPathFor("/Content/Plugins/touchswipe/jquery.touchSwipe.min.js")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/js/main.js")
    @Html.HashVersionPathFor("/Content/Plugins/cryptojs/crypto-js.js")
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.jquery.validate.unobtrusive.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor(string.Format("/Content/Scripts/{0}.form.js", CommonSetting.SOLUTION_CODE.ToLower()))
    @Html.HashVersionPathFor("/Content/Scripts/auth/index.js")
</body>
</html>
