﻿@model Web.Models.Error.IndexInfo
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Favicons/manifest.json">
    <link rel="mask-icon" href="~/Favicons/safari-pinned-tab.svg" color="#1f212f">
    <meta name="theme-color" content="#1f212f">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8;" />
    <meta http-equiv="cache-control" content="max-age=864000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta itemprop="name" content="@ViewBag.Title" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="~/Favicons/favicon-96x96.png" />
    <title>@Model.Code - @Model.Message | @CommonSetting.PROJECT_WEB_NAME - @CommonSetting.PROJECT_SLOGAN</title>

    @Html.HashVersionPathFor("/Content/Plugins/bootstrap/css/bootstrap.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/animate/animate.min.css")
    @Html.HashVersionPathFor("/Content/Plugins/rapido/css/styles.css")
</head>
<body class="error-full-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 page-error animated shake">
                <div class="error-number text-azure">
                    @Model.Code
                </div>
                <div class="error-details col-sm-12 col-sm-offset-6" style="margin-top: 10px;">
                    <h3>@Model.Message</h3>
                    <p>
                        <a href="/" class="btn btn-red btn-return">
                            返回首页
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
