﻿@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div class="weui-msg" style="margin-top: 50px;">
    <div class="weui-msg__icon-area">
        <i class="weui-icon-warn weui-icon_msg-primary"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">@Model.Code</h2>
        <p class="weui-msg__desc">@Model.Message</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="@CommonSetting.VALUE_HTML_HISTORYBACKLINK" class="weui-btn weui-btn_primary">返回</a>
            @*<a href="/" class="weui-btn weui-btn_default">返回首页</a>*@
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__text">
                @CommonSetting.COMPANY_YEARS &copy; @CommonSetting.COMPANY_NAME_CN.
            </p>
        </div>
    </div>
</div>
